<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">&nbsp</div>
		<div class="col-md-8">
			<h1 style="position:relative; left:-11%">Welcome to Renovate My Resume!</h1><br>
				<% if flash[:alert] %>
					<p id="alert"><%= flash[:alert] %></p>
				<% end %>
				<% if notice %>
					<p id="notice"><%= notice %></p>
				<% end %>
					<%= form_tag do %>
						<fieldset style="width: 40%;">
							<legend>Please Log In</legend>
							
							<div style="position: relative;padding-bottom: 1%; left:10.2%;">
								<%= label_tag :email, 'Email:' %>
								<%= text_field_tag :email, params[:email] %>
							</div>
							<div>
								<%= label_tag :password, 'Password:' %>
								<%= password_field_tag :password, params[:password] %>
							</div>
							<br>
							<div>
								<%= submit_tag 'Login', class: 'btn btn-primary' %>
							</div>
						</fieldset>
						<p><%= link_to "New User", new_user_path %></p>
					<% end %>
		</div>
	</div>
</div>