<p id="notice"><%= notice %></p>

<h1>Listing Resumes</h1>

<table>
  <thead>
    <tr>
      <th>Objective</th>
      <th>Skills</th>
      <th>Experience</th>
      <th>Education</th>
      <th>User</th>
      <th>Style</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= resume.objective %></td>
        <td><%= resume.skills %></td>
        <td><%= resume.experience %></td>
        <td><%= resume.education %></td>
        <td><%= resume.user_id %></td>
        <td><%= resume.style_id %></td>
        <td><%= link_to 'Show', resume %></td>
        <td><%= link_to 'Edit', edit_resume_path(resume) %></td>
        <td><%= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resume', new_resume_path %>
